body{
  background-color: #a8e6ff;
}
h1{
  border: 1px solid black;
}
h2{
  color: purple;
}
input{
  border: 2px solid rgb(144,0,0);
}

div p{
  background: yellow;
}
#firstItem{
  text-decoration-line: overline;
  color: purple;
}

a{
  color: red;
}
#textArea{
  border: 5px solid grey;
  width: 800px;
  height: 400px;
}

.secondDiv{
  background: blue;
  border: 4px dashed yellow;
}

a:visited{
  color:blue;
}
